{% extends 'base.html.twig' %}
{% block title %}Rangliste{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="box box--70 border rounded shadow p-3 mx-auto position-relative">
        <h1>Statistik</h1>
        <p class="text-primary position-absolute top-0 end-0 mt-2 me-3 fs-5"><i class="fa-solid fa-arrows-rotate fa-spin"></i> Live</p>
        <div id="container-stats">
            <ul class="list-group rounded mb-2">
                <li class="list-group-item">
                    Teilnehmerzahl: <strong>{{ leaderBoardEntries|length }}</strong>
                </li>
                <li class="list-group-item">
                    Maximal erreichbare Punktzahl: <strong>{{ quiz.getQuestions|length }}</strong>
                </li>
                <li class="list-group-item border-bottom-0">
                    Punkteschnitt: <strong>{{ averageScore }}</strong>
                </li>
                <li class="fs-5 list-group-item border-0 p-0">
                    <div class="bg-gradient p-2 rounded-bottom
                        {% if averageScorePercentage >= 70 %}
                            bg-success-subtle text-success-emphasis border border-success
                        {% elseif averageScorePercentage >= 40 %}
                            bg-warning-subtle text-warning-emphasis border border-warning
                        {% else %}
                            bg-danger-subtle text-danger-emphasis border border-danger
                        {% endif %}
                    ">
                        <strong>Kursnote: {{ averageScorePercentage }}%</strong>
                    </div>
                </li>
            </ul>
            <h2>Rangliste</h2>
            <table class="table table-striped table-dark leaderboard mb-0" data-quiz="{{ quiz.id }}">
                <thead>
                    <tr>
                    <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                    <th scope="col" class="text-start">Spielername</th>
                    <th scope="col" ><i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% set place = 1 %}
                    {% for entry in leaderBoardEntries %}
                        {% if loop.index == 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        {% if entryScoreTmp != entry.score %}
                            {% set place = place + 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        <tr>
                           
                            {% if matrikelnummerHash %}
                                <td {% if entry.hash == matrikelnummerHash %}class="text-info fs-5"{% endif %}>{{ place }}</td>
                                <td class="text-start">
                                    <div {% if entry.hash == matrikelnummerHash %}class="d-inline-block fs-5"{% endif %}>
                                        {% if place == 1 %}
                                            <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        {% if place == 2 %}
                                            <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        {% if place == 3 %}
                                            <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        <span {% if entry.hash == matrikelnummerHash %}class="text-info"{% endif %}>
                                        {{ entry.matrikelnumber }}
                                        {% if entry.hash == matrikelnummerHash %}
                                            <i class="fa-regular fa-circle-user"></i>
                                        {% endif %}
                                        </span>
                                    </div>
                                </td>
                                <td {% if entry.hash == matrikelnummerHash %}class="text-info fs-5"{% endif %}>{{ entry.score }}</td>
                            {% else %}
                                <td>{{ place }}</td>
                                <td class="text-start">
                                    {% if place == 1 %}
                                        <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 2 %}
                                        <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 3 %}
                                        <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {{ entry.matrikelnumber }}
                                </td>
                                <td>{{ entry.score }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/dashboard" type="button" class="btn btn-secondary bg-gradient mt-2"><i class="fa-solid fa-table-columns"></i> Zurück zum Dashboard</a>
    </div>
</div>
{% endblock %}