{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>HDA Quiz</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Quiz der Hochschule Darmstadt">
		<meta name="author" content="Thomas Hofmann">


        <meta property="og:url" content="https://quiz.hofmann-thomas.de">
		<meta property="og:type" content="website">
		<meta property="og:title" content="HDA Quiz">
		<meta property="og:description" content="Quiz der Hochschule Darmstadt">
		<meta property="og:image" content="{{ asset('images/logo.png') }}">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon_io/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon_io/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon_io/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon_io/site.webmanifest') }}">

        <script src="https://kit.fontawesome.com/bb7ebab3a0.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
             {% if app.request.attributes.get('_route') == 'quiz' %}
                {{ encore_entry_script_tags('quiz') }}
            {% endif %}
            {% if app.user.username is defined %}
                {{ encore_entry_script_tags('backend') }}
            {% endif %}
        {% endblock %}
    </head>
    <body class="bg-body-tertiary">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('home') }}">h_da Quiz</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('dashboard') }}"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}" onclick="return confirm('Sind Sie sicher, dass Sie ausloggen wollen?')"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                                </li>
                            {% endif %}
                        </ul>
                        {% if app.user.username is defined %}
                            <span class="navbar-text text-info navbar__login">
                                <i class="fa-regular fa-circle-user"></i></i> {{ app.user.username }}
                                {% if app.session.get('matrikelnummer') and app.request.pathinfo != '/quiz-start' %}
                                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                {% endif %}
                            </span>
                        {% endif %}
                        {% if app.session.get('matrikelnummer') and app.request.pathinfo != '/quiz-start' %}
                            <span class="navbar-text text-info navbar__login">
                                <i class="fa-regular fa-circle-user"></i></i> {{ app.session.get('matrikelnummer') }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        {% for label, messages in app.flashes %}
            <div class="flash-message-wrapper">
                <div class="flash-message shadow ps-5 pe-5 pt-2 pb-2 alert alert-{{ label }}">
                    {% for message in messages %}
                        <p class="mb-0 text-center">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <noscript>
            <div class="container">
            <div class="box border rounded shadow p-3 mx-auto">
                <h1>Ups!</h1>
                    <p class="text-danger fw-bold mb-0">Dein JavaScript ist leider deaktiviert.</p>
                    <p>Um diese Seite nutzen zu können, muss es aktiv sein.</p>
                </div>
            </div>
        </noscript>
        <main class="main-content">