{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- ... -->
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Quiz der Hochschule Darmstadt">
		<meta name="author" content="Thomas Hofmann">
        <title>HDA Quiz</title>

        <meta property="og:url" content="https://quiz.hofmann-thomas.de">
		<meta property="og:type" content="website">
		<meta property="og:title" content="HDA Quiz">
		<meta property="og:description" content="Quiz der Hochschule Darmstadt">
		<meta property="og:image" content="{{ asset('images/logo.png') }}">

        <script src="https://kit.fontawesome.com/bb7ebab3a0.js" crossorigin="anonymous"></script>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon_io/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon_io/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon_io/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon_io/site.webmanifest') }}">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}

        {% if (app.request.attributes.get('_route') != 'quiz') and (app.request.attributes.get('_route') != 'quiz-finished') %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                <!-- Renders app.js & a webpack runtime.js file -->
            {% endblock %}
        {% endif %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">h_da Quiz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('dashboard') }}"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}" onclick="return confirm('Sind Sie sicher, dass Sie ausloggen wollen?')"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if app.user.username is defined %}
                        <span class="navbar-text text-info">
                            <i class="fa-regular fa-user"></i> {{ app.user.username }}
                            {% if app.session.get('matrikelnummer') and app.request.pathinfo != '/quiz-start' %}
                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            {% endif %}
                        </span>
                    {% endif %}
                    {% if app.session.get('matrikelnummer') and app.request.pathinfo != '/quiz-start' %}
                        <span class="navbar-text text-info">
                            <i class="fa-regular fa-user"></i> {{ app.session.get('matrikelnummer') }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content">