{% include ('base.html.twig') %}
<div class="container container--fade-in">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Quiz bearbeiten</h1>
         {% if questions|length == 0 %}
            <p class="text-danger fw-bold">Das Quiz hat noch keine Fragen.</p>
        {% endif %}
        <form action="{{ path('update_quiz') }}" method="get">
            <div class="form-group">
                <input type="hidden" name="quizId" value="{{ quiz.id }}">
                <label for="quizName">Name</label>
                <input type="text" class="form-control" id="quizName" name="quizName" value="{{ quiz.name }}" required>
                <label for="quizcode" class="mt-2">Beitrittscode</label>
                <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="quizcode" name="quizCode" value="{{ quiz.code }}" required>
                 {% if error %}
                    <div id="quizcode" class="invalid-feedback">
                        Achtung Code wird bereits verwendet. Nutzen Sie einen anderen
                    </div>
                {% endif %}
            </div>
            <p class="mt-3">
                <button type="submit" class="btn btn-dark mt-2"><i class="fa-regular fa-floppy-disk"></i> Werte aktualisieren</button>
            </p>
        </form>
        {% if questions|length %}
            <h2>Fragen bearbeiten</h2>
            <p><i class="fa-solid fa-circle-info"></i> Die Reihenfolge der Fragen kann durch Drag-and-Drop geändert werden.</p>
            <ul class="list-group mb-2" id="sortable">
                {% for question in questions %}
                    <li class="list-group-item edit-question-list-item" data-id="{{ question.id }}">
                        <p class="mb-2 fw-bold">
                            {{ loop.index }}. {{ question.text}}
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <ul class="list-group mb-2 dashboard__quiz-answer-list">
                                    {% for answer in question.getAnswers %}
                                        <li class="list-group-item{% if answer.isCorrect %} list-group-item-success{% endif %}">
                                            {{ answer.text }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="{{ path('edit_question', { 'id': question.id }) }}" class="d-block btn btn-sm btn-dark bg-gradient"><i class="fa-regular fa-pen-to-square"></i> Frage bearbeiten</a>
                                <a href="{{ path('delete_question', { 'id': question.id }) }}" class="d-block btn btn-sm btn-danger bg-gradient mt-2" onclick="return confirm('Sind Sie sicher, dass Sie diese Frage löschen möchten?')"><i class="fa-regular fa-trash-can"></i> Frage löschen</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <button class="btn btn-dark mt-2" id="save-order"><i class="fa-regular fa-floppy-disk"></i> Sortierung aktualisieren</button>
            </p>
        {% endif %}
        {% if questions|length %}
            <h3>Weitere Frage erstellen</h3>
        {% else %}
            <h3>Frage erstellen</h3>
        {% endif %}
        {% if minCorrectError %}
            <p class="text-danger"><i class="fa-solid fa-circle-exclamation"></i> Es muss mindestens eine Frage richtig sein! Frage wurde nicht hinzugefügt.</p>
        {% endif %}
        <p><i class="fa-solid fa-circle-info"></i> Richtige Antwort bitte markieren. Es muss mindestens eine richtig sein.</p>
        <form action="{{ path('update_questions') }}" method="get">
            <div class="form-group">
                <input type="hidden" name="quizId" value="{{ quiz.id }}">
                <label for="question">Fragetext</label>
                <textarea class="form-control" id="question" name="question" rows="3" required></textarea>
                <label for="answer1" class="mt-2">Antwort: A</label>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input quiz__edit-checkbox mt-0" id="answer1-correct" name="answer1-correct" type="checkbox" value="1" aria-label="Checkbox for following text input">
                    </div>
                    <textarea class="form-control" id="answer1" name="answer1" required></textarea>
                </div>
                <label for="answer2" class="mt-2">Antwort: B</label>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input quiz__edit-checkbox mt-0" id="answer2-correct" name="answer2-correct" type="checkbox" value="1" aria-label="Checkbox for following text input">
                    </div>
                    <textarea class="form-control" id="answer2" name="answer2" required></textarea>
                </div>
                <label for="answer3" class="mt-2">Antwort: C</label>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input quiz__edit-checkbox mt-0" id="answer3-correct" name="answer3-correct" type="checkbox" value="1" aria-label="Checkbox for following text input">
                    </div>
                    <textarea class="form-control" id="answer3" name="answer3" required></textarea>
                </div>
                <label for="answer4" class="mt-2">Antwort: D</label>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        <input class="form-check-input quiz__edit-checkbox mt-0" id="answer4-correct" name="answer4-correct" type="checkbox" value="1" aria-label="Checkbox for following text input">
                    </div>
                    <textarea class="form-control" id="answer4" name="answer4" required></textarea>
                </div>
            </div>
            <p class="mt-3">
                <button type="submit" class="btn btn-dark bg-gradient mt-2"><i class="fa-solid fa-plus"></i> Diese Frage hinzufügen</button> 
            </p>
        </form>
        <hr>
        <a href="{{ path('dashboard')}}" class="btn btn-secondary bg-gradient mt-2">Zurück zum Dashboard</a>
    </div>
</div>
{% include ('footer.html.twig') %}