{% include ('base.html.twig') %}
<div class="container">
    <div class="box box--70 border rounded shadow p-3 mx-auto">
        <h1>Quiz bearbeiten</h1>
         {% if questions|length == 0 %}
            <p class="text-danger fw-bold">Das Quiz hat noch keine Fragen.</p>
        {% endif %}
        <form action="{{ path('update_quiz') }}" method="get">
            <div class="form-group">
                <input type="hidden" name="quizId" value="{{ quiz.id }}">
                <label for="quizName">Name</label>
                <input type="text" class="form-control" id="quizName" name="quizName" value="{{ quiz.name }}" required>
                <label for="quizcode" class="mt-2">Beitrittscode</label>
                <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="quizcode" name="quizCode" value="{{ quiz.code }}" required>
                 {% if error %}
                    <div id="quizcode" class="invalid-feedback">
                        Achtung Code wird bereits verwendet. Nutzen Sie einen anderen
                    </div>
                {% endif %}
            </div>
            <p class="mt-3">
                <button type="submit" class="btn btn-dark mt-2"><i class="fa-regular fa-floppy-disk"></i> Werte speichern</button>
            </p>
        </form>
        {% if questions|length %}
            <h2>Fragen bearbeiten</h2>
            <p><i class="fa-solid fa-circle-info"></i> Die Reihenfolge der Fragen kann durch Drag-and-Drop geändert werden.</p>
            <ul class="list-group mb-2" id="sortable">
                {% for question in questions %}
                    <li class="list-group-item edit-question-list-item" data-id="{{ question.id }}">
                        <p class="mb-2">
                            {{ loop.index }}. Frage: {{ question.text}}
                        </p>
                        <p>
                            <a href="{{ path('edit_question', { 'id': question.id }) }}" class="btn btn-sm btn-dark mt-2"><i class="fa-regular fa-pen-to-square"></i> Frage bearbeiten</a>
                            <a href="{{ path('delete_question', { 'id': question.id }) }}" class="btn btn-sm btn-danger mt-2" onclick="return confirm('Sind Sie sicher, dass Sie diese Frage löschen möchten?')"><i class="fa-regular fa-trash-can"></i> Frage löschen</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <button class="btn btn-dark mt-2" id="save-order"><i class="fa-regular fa-floppy-disk"></i> Sortierung speichern</button>
            </p>
        {% endif %}
        {% if questions|length %}
            <h3>Weitere Frage erstellen</h3>
        {% else %}
            <h3>Frage erstellen</h3>
        {% endif %}
        <form action="{{ path('update_questions') }}" method="get">
            <div class="form-group">
                <input type="hidden" name="quizId" value="{{ quiz.id }}">
                <label for="question">Frage</label>
                <input type="text" class="form-control" id="question" name="question" required>
                <label for="answer1" class="mt-2">Antwortmöglichkeit: 1</label>
                <input type="text" class="form-control" id="answer1" name="answer1" required>
                <label for="answer2" class="mt-2">Antwortmöglichkeit: 2</label>
                <input type="text" class="form-control" id="answer2" name="answer2" required>
                <label for="answer3" class="mt-2">Antwortmöglichkeit: 3</label>
                <input type="text" class="form-control" id="answer3" name="answer3" required>
                <label for="answer4" class="mt-2">Antwortmöglichkeit: 4</label>
                <input type="text" class="form-control" id="answer4" name="answer4" required>
                <label for="rightAnswer" class="mt-2">Richtige Antwort (Eine Nummer zwischen 1 - 4)</label>
                <input type="number" min="1" max="4" class="form-control" id="rightAnswer" name="rightAnswer" required>
            </div>
            <p class="mt-3">
                <button type="submit" class="btn btn-dark mt-2"><i class="fa-solid fa-plus"></i> Diese Frage hinzufügen</button> 
            </p>
        </form>
        <hr>
        <a href="{{ path('dashboard')}}" class="btn btn-secondary mt-2">Zurück zum Dashboard</a>
    </div>
</div>
{% include ('footer.html.twig') %}