{% include ('base.html.twig') %}
<div class="container text-center quiz-container container--fade-in">
    <div class="box shadow mx-auto rounded">
        <ul class="list-group">
            <li class="list-group-item">
                <h1 class="mb-0">{{ quiz.name }}</h1>
            </li>
            {% if rightAnswer %}
                <li class="list-group-item p-0 fw-bold">
                    <div class="alert alert-success m-0 p-2 rounded-top-0 alert-finished">
                        <i class="fa-regular fa-circle-check answer__logo"></i>
                        <i class="fa-regular fa-circle-check answer__logo--right"></i>
                        Richtig!
                    </div>
                    <div class="alert-bye fw-bold">
                        Bis zum nächsten Mal!
                    </div>
                </li>
            {% else %}
                <li class="list-group-item p-0">
                    <div class="alert {% if alert %}alert-warning{% else %}alert-danger{% endif %} m-0 p-2 rounded-top-0 alert-finished">
                        <div class="fw-bold">
                            <i class="fa-regular fa-circle-xmark answer__logo"></i>
                            <i class="fa-regular fa-circle-xmark answer__logo--right"></i>
                            <p class="mb-0">{% if alert %}Fast!{% else %}Falsch!{% endif %}</p>
                        </div>
                    </div>
                    <div class="alert-bye fw-bold">
                        Bis zum nächsten Mal!
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="mx-auto shadow border rounded p-3 quiz__finished">
        <h2>Das Quiz ist fertig</h2>
        {% if rightIndex > 0 %}
            <p class="mb-3 fs-5">Sie haben <strong>{{ rightIndex }} von {{ quiz.getQuestions|length }}</strong> Fragen richtig beantwortet.</p>
        {% else %}
            <p class="mb-3 fs-5">Sie haben keine Frage richtig beantwortet.</p>
        {% endif %}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item border-0">
                <h2 class="accordion-header" id="headingOne">
                    <button class="quiz__button btn bg-gradient btn-success btn-lg mt-2 finished__accordion-button collapsed rotate-on-hover" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa-regular fa-eye"></i><i class="fa-regular fa-eye-slash"></i> Quiz auswerten
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse box box--70 mx-auto" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body pe-0 ps-0">
                        <hr>
                        {% set letters = ['A', 'B', 'C', 'D'] %}
                        {% for question in quiz.getQuestions %}
                            {% set questionIndex = loop.index0 %}
                            <h3>Frage {{ questionIndex + 1 }}</h3>
                            <h4 class="mb-3">{{ question.text }}</h4>
                            <ul class="list-group mb-3">
                            {% set correctIndex = 0 %}
                            {% set playerCorrectIndex = 0 %}
                            {% for answer in question.getAnswers %}
                                {% if answer.isCorrect %}
                                    {% set correctIndex = correctIndex + 1 %}
                                {% endif %}
                                {% set answerIndex = loop.index0 %}
                                {% set isAnswerSelected = false %}
                                {% for playerAnswer in allAnswers[questionIndex].answers %}
                                    {% if playerAnswer == answer.id %}
                                        {% if answer.isCorrect %}
                                            {% set playerCorrectIndex = playerCorrectIndex + 1 %}
                                        {% endif %}
                                        {% set isAnswerSelected = true %}
                                    {% endif %}
                                {% endfor %}
                                <li class="list-group-item question-stats-finished fs-5 bg-gradient {% if answer.isCorrect %}bg-success-subtle text-success-emphasis{% endif %}">
                                    <span class="question__letter question__letter--statistics bg-dark text-light border">{{ letters[answerIndex] }}</span>
                                    {% if isAnswerSelected %}<i class="fa-regular fa-circle-user text-info answer__logo--right"></i>{% endif %}
                                    {{ answer.text }}
                                </li>
                            {% endfor %}
                            <li class="list-group-item question-stats-count fw-bold">
                                <span class="{% if (playerCorrectIndex == correctIndex) and (correctIndex == allAnswers[questionIndex].answers|length) %} text-success {% elseif (playerCorrectIndex > 0) and (correctIndex < allAnswers[questionIndex].answers|length) %} text-warning {% elseif (playerCorrectIndex > 0) and (playerCorrectIndex < correctIndex)%} text-warning {% else %} text-danger {% endif %}">
                                    {% if (playerCorrectIndex == correctIndex) and (correctIndex == allAnswers[questionIndex].answers|length) %}<i class="fa-regular fs-3 fa-circle-check"></i> {% elseif (playerCorrectIndex > 0) and (correctIndex < allAnswers[questionIndex].answers|length) %}<i class="fa-regular fa-circle-question fs-3"></i>{% elseif (playerCorrectIndex > 0) and (playerCorrectIndex < correctIndex) %}<i class="fa-regular fa-circle-question fs-3"></i>{% else %}<i class="fa-regular fa-circle-xmark fs-3"></i>{% endif %}
                                    <br>{{ playerCorrectIndex }}/{{ correctIndex }}<br>
                                </span>
                            </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('quiz-initial', { 'code': quiz.code }) }}" type="button" class="quiz__button btn btn-dark bg-gradient mt-2 rotate-on-hover"><i class="fa-solid fa-rotate-right"></i> Quiz wiederholen</a>
        <a href="{{ path('home') }}" type="button" class="btn btn-secondary bg-gradient quiz__button mt-2 rotate-on-hover"><i class="fa-solid fa-house"></i> Zurück zur Startseite</a>
    </div>
    <div class="box box--70 mx-auto shadow border rounded p-3 position-relative">
        <h2>Quizstatistik</h2>
        <p class="text-primary position-absolute top-0 end-0 mt-2 me-3 fs-5"><i class="fa-solid fa-arrows-rotate fa-spin"></i> Live</p>
        <div id="container-stats">
            <ul class="list-group rounded mb-2">
                    <li class="list-group-item">
                        Fragenanzahl: <strong>{{ quiz.getQuestions|length }}</strong>
                    </li>
                
                    <li class="list-group-item">
                        Spieleranzahl: <strong>{{ leaderBoardEntries|length }}</strong>
                    </li>
                    <li class="list-group-item">
                        Punkteschnitt: <strong>{{ averageScore }}</strong>
                    </li>
                    <li class="list-group-item bg-gradient rounded-bottom-0
                        {% if averageScorePercentage >= 70 %}
                            bg-success-subtle text-success-emphasis
                        {% elseif averageScorePercentage >= 40 %}
                            bg-warning-subtle text-warning-emphasis
                        {% else %}
                            bg-danger-subtle text-danger-emphasis
                        {% endif %}
                    ">
                        Kursnote: <strong>{{ averageScorePercentage }}%</strong>
                    </li>
                </ul>
            <h2>Rangliste</h2>
            <table class="table table-striped table-dark mb-4t leaderboard mb-0" data-quiz="{{ quiz.id }}">
                <thead>
                    <tr>
                    <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                    <th scope="col" class="text-start">Spielername</th>
                    <th scope="col" ><i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                </thead>
                <tbody id="leaderboard-body">
                    {% set place = 1 %}
                    {% for entry in leaderBoardEntries %}
                        {% if loop.index == 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        {% if entryScoreTmp != entry.score %}
                            {% set place = place + 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        <tr>
                            <td {% if entry.matrikelnumber == matrikelnummer %}class="text-info fs-5"{% endif %}>{{ place }}</td>
                            <td class="text-start">
                                <div {% if entry.matrikelnumber == matrikelnummer %}class="d-inline-block fs-5"{% endif %}>
                                    {% if place == 1 %}
                                        <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 2 %}
                                        <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 3 %}
                                        <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    <span {% if entry.matrikelnumber == matrikelnummer %}class="text-info"{% endif %}>
                                    {{ entry.matrikelnumber }}
                                    
                                    {% if entry.matrikelnumber == matrikelnummer %}
                                        <i class="fa-regular fa-circle-user"></i>
                                    {% endif %}
                                    </span>
                                </div>
                            </td>
                            <td {% if entry.matrikelnumber == matrikelnummer %}class="text-info fs-5"{% endif %}>{{ entry.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include ('footer.html.twig') %}