{% include ('base.html.twig') %}
{% include ('background-svgs.html.twig') %}
<div class="container container--fade-in text-center">
    <div class="box border rounded shadow p-3 mx-auto">
        <img src="{{ asset('images/logo.png') }}" class="logo ps-4 pe-4">
        <h1>Willkommen zum Quiz</h1>
        <ul class="list-group rounded">
            <li class="list-group-item">
                Name:
                <h3>{{ quiz.name }}</h3>
            </li>
            <li class="list-group-item">
               Anzahl an Fragen:
               <h3>{{ quiz.getQuestions|length }}</h3>
            </li>
            <li class="list-group-item">
                Dein Spielername lautet:
                <h2 id="matrikelnummerChange">{{ matrikelnummer }}</h2>
                {% if app.session.get('finished') is null %}
                    <a id="newName" href="{{ path('update_name') }}" class="btn btn-dark bg-gradient btn-sm rotate-on-hover">
                        <i class="fa-solid fa-arrows-rotate"></i> Anderer Name
                    </a>
                {% endif %}
            </li>
            <li class="list-group-item fw-bold text-danger">
               <small><i class="fa-solid fa-circle-info"></i> Mehrfachantworten sind möglich</small>
            </li>
        </ul>
        {% if quiz.getQuestions|length %}
            <a href="{{ path('quiz') }}" class="btn btn-success bg-gradient btn-lg mt-3 quiz__final-initial quiz__button--initial"><span id="loading"><i class="fa-regular fa-circle-right next-icon"></i></span> Erste Frage</a>
        {% else %}
            <p class="text-danger fw-bold mt-2">Quiz hat leider keine Fragen und kann deshalb nicht gestartet werden!</p>
        {% endif %}
    </div>
</div>
{% include ('footer.html.twig') %}