{% include ('base.html.twig') %}
<div class="container text-center quiz-container container--fade-in">
    <div class="box shadow mx-auto rounded">
        <ul class="list-group">
            <li class="list-group-item">
                <h1 class="mb-0">{{ quiz.name }}</h1>
            </li>
            <li class="list-group-item">
                <strong><i class="fa-regular fa-user"></i> {{ matrikelnummer }}</strong>
                | <span class="{% if rightIndex > 0 %}text-success{% else %}text-danger{% endif %}"><i class="fa-regular fa-circle-check "></i> {{ rightIndex }}</span>
            </li>
            {% if index > 0 %}
                {% if rightAnswer %}
                    <li class="list-group-item p-0">
                        <div class="alert alert-success m-0 p-2 rounded-top-0">
                            <i class="fa-regular fa-circle-check answer__logo"></i>
                            <i class="fa-regular fa-circle-check answer__logo--right"></i>
                            Richtige Antwort!
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item p-0">
                        <div class="alert alert-danger m-0 p-2 rounded-top-0">
                            <i class="fa-regular fa-circle-xmark answer__logo"></i>
                            <i class="fa-regular fa-circle-xmark answer__logo--right"></i>
                            <p class="mb-1 fw-bold"><small>Falsche Antwort! Richtig wäre:</small></p>
                            <p class="m-0">{{ rightAnswerText }}</p>
                        </div>
                    </li>
                {% endif %}
            {% else %}
                <li class="list-group-item p-0">
                    <div class="alert alert-primary m-0 p-2 rounded-top-0">
                        Das Quiz beginnt. Viel Erfolg!
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
    {% if shuffledQuestions[index] is defined %}
        {% set question = shuffledQuestions[index] %}
        <div class="question row mt-5 p-4 border rounded shadow">
            <p class="text-center mb-2">{{ index + 1 }} von {{ shuffledQuestions|length }}</p>
            <div class="col-12 fs-2 lead question__text">
                {{ question.question.text }}
            </div>
            <form action="{{ path('quiz') }}" method="post" id="quiz-form">
                <div class="col-12 mt-4 mb-4">
                    <div class="row">
                        <div class="col-12 col-lg-6 p-0 d-flex" >
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer{{ question.answers[0].index }}" name="answer" value="{{ question.answers[0].index }}" required/>
                            <label class="answer__label fs-5 question__answer-1 bg-gradient" for="answer{{ question.answers[0].index }}">
                                <span class="question__letter bg-dark text-light border">A</span> {{ question.answers[0].text }}
                            </label>
                        </div>
                        <div class="col-12 col-lg-6 p-0 d-flex">  
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer{{ question.answers[1].index }}" name="answer" value="{{ question.answers[1].index }}"/>
                            <label class="answer__label fs-5 question__answer-2 bg-gradient" for="answer{{ question.answers[1].index }}">
                                <span class="question__letter bg-dark text-light border">B</span> {{ question.answers[1].text }}
                            </label>
                        </div>
                        <div class="col-12 col-lg-6 p-0 d-flex">
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer{{ question.answers[2].index }}" name="answer" value="{{ question.answers[2].index }}"/>
                            <label class="answer__label fs-5 question__answer-3 bg-gradient" for="answer{{ question.answers[2].index }}">
                                <span class="question__letter bg-dark text-light border">C</span> {{ question.answers[2].text }}
                            </label>
                        </div>
                        <div class="col-12 col-lg-6 p-0 d-flex">
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer{{ question.answers[3].index }}" name="answer" value="{{ question.answers[3].index }}"/>
                            <label class="answer__label fs-5 question__answer-4 bg-gradient" for="answer{{ question.answers[3].index }}">
                                <span class="question__letter bg-dark text-light border">D</span> {{ question.answers[3].text }}
                            </label>
                        </div>
                    </div>
                </div>
                {% if shuffledQuestions[index + 1] is defined %}
                    <button type="submit" class="btn btn-success bg-gradient btn-lg quiz__button quiz__next-answer" disabled="disabled" id="submit-btn"><span id="loading"><i class="fa-regular fa-circle-right next-icon"></i></span> Nächste Frage</button>
                {% else %}
                    <button type="submit" class="btn btn-success bg-gradient btn-lg quiz__button quiz__final-answer" disabled="disabled" id="submit-btn"><span id="loading"><i class="fa-solid fa-flag-checkered next-icon"></i></span> Quiz abschließen</button>
                {% endif %}
                
            </form>
        </div>
    {% endif %}
</div>
{% include ('footer.html.twig') %}