{% include ('base.html.twig') %}
<div class="container text-center quiz-container">
    <div class="box shadow mx-auto">
        <ul class="list-group rounded">
            <li class="list-group-item">
                <h1 class="mb-0">{{ quiz.name }}</h1>
            </li>
            <li class="list-group-item">
                <i class="fa-regular fa-user"></i> {{ matrikelnummer }} | 
                <span class="{% if rightIndex > 0 %}text-success{% else %}text-danger{% endif %}"><i class="fa-regular fa-circle-check "></i> {{ rightIndex }}</span>
            </li>
            {% if index > 0 %}
                {% if rightAnswer %}
                    <li class="list-group-item bg-success text-light">
                        Ihre Antwort war richtig!
                    </li>
                {% else %}
                    <li class="list-group-item bg-danger text-light">
                        Ihre Antwort war leider falsch!
                    </li>
                {% endif %}
            {% else %}
                <li class="list-group-item">
                    Das Quiz beginnt. Viel Erfolg!
                </li>
            {% endif %}
        </ul>
    </div>
    {% if quiz.questions[index] is defined %}
        {% set question = quiz.questions[index] %}
        <div class="question row mt-5 p-4 border rounded shadow">
            <div class="col-12 fs-1 lead question__text">
                {{ question.text }}
            </div>
            <form action="{{ path('quiz') }}" method="post" id="quiz-form">
                <div class="col-12 mt-4 mb-4">
                    <div class="row">
                        <div class="col-6 p-0 d-flex" >
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer1" name="answer" value="1" required/>
                            <label class="answer__label fs-3 border rounded-top-left" for="answer1">
                                <span class="question__letter">A</span> {{ question.answerOne }}
                            </label>
                        </div>
                        <div class="col-6 p-0 d-flex">  
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer2" name="answer" value="2"/>
                            <label class="answer__label fs-3 border-top border-end border-bottom rounded-top-right" for="answer2">
                                <span class="question__letter">B</span> {{ question.answerTwo }}
                            </label>
                        </div>
                        <div class="col-6 p-0 d-flex">
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer3" name="answer" value="3"/>
                            <label class="answer__label fs-3 border-end border-bottom border-start rounded-bottom-left" for="answer3">
                                <span class="question__letter">C</span> {{ question.answerThree }}
                            </label>
                        </div>
                        <div class="col-6 p-0 d-flex">
                            <input class="radio answer__radio visually-hidden" type="radio" id="answer4" name="answer" value="4"/>
                            <label class="answer__label fs-3 border-bottom border-end rounded-bottom-right" for="answer4">
                                <span class="question__letter">D</span> {{ question.answerFour }}
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" disabled="disabled" id="submit-btn"><i class="fa-solid fa-share"></i> Nächste Frage</button>
            </form>
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>
    {% endif %}
</div>
{% include ('footer.html.twig') %}