{% include ('base.html.twig') %}
<div class="container text-center quiz-container container--fade-in">
    <div class="quiz__overlay {% if index > 0 %}{% if rightAnswer %}container--correct{% elseif alert %}container--almost{% else %}container--wrong{% endif %}{% endif %}"></div>
        <div class="box shadow mx-auto rounded quiz-alert-sticky">
            {% if index > 0 %}
                {% if rightAnswer %}
                    <div class="alert alert-success m-0 p-2">
                        <i class="fa-regular fa-circle-check answer__logo"></i>
                        <i class="fa-regular fa-circle-check answer__logo--right"></i>
                        <p class="fw-bold mb-0">Richtig!</p>
                        <div class="accordion bg-success-subtle" id="accordion-right-answers">
                            <div class="accordion-item bg-success-subtle border-0">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="btn bg-gradient btn-outline-success btn-sm finished__accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa-regular fa-eye"></i><i class="fa-regular fa-eye-slash"></i> Lösung anzeigen
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse bg-success-subtle collapse box box--70 mx-auto" aria-labelledby="headingOne" data-bs-parent="#accordion-right-answers">
                                    <div class="accordion-body rounded border-success-subtle border mt-2 bg-white p-2">
                                        <p>{{ shuffledQuestions[index - 1].question.text }}</p>
                                        <ul class="list-group mt-2">
                                            {% for answerText in rightAnswers %}
                                                <li class="list-group-item">{{ answerText }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert {% if alert %}alert-warning{% else %}alert-danger{% endif %} m-0 p-2">
                        {% if alert %}
                            <i class="fa-regular fa-circle-question answer__logo"></i>
                            <i class="fa-regular fa-circle-question answer__logo--right"></i>
                            <p class="mb-0 fw-bold">Fast!</p>
                        {% else %}
                            <i class="fa-regular fa-circle-xmark answer__logo"></i>
                            <i class="fa-regular fa-circle-xmark answer__logo--right"></i>
                             <p class="mb-0 fw-bold">Falsch!</p>
                        {% endif %}
                        <div class="accordion" id="accordion-right-answers">
                            <div class="accordion-item {% if alert %}bg-warning-subtle{% else %}bg-danger-subtle{% endif %} border-0">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="btn {% if alert %}btn-outline-warning text-warning-emphasis{% else %}btn-outline-danger{% endif %} btn-sm finished__accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa-regular fa-eye"></i><i class="fa-regular fa-eye-slash"></i> Lösung anzeigen
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse {% if alert %}alert-warning{% else %}alert-danger{% endif %}" aria-labelledby="headingOne" data-bs-parent="#accordion-right-answers">
                                    <div class="accordion-body rounded {% if alert %}border-warning-subtle{% else %}border-danger-subtle{% endif %} bg-white mt-2 border p-2">
                                        <b>{{ shuffledQuestions[index - 1].question.text }}</b>
                                        <ul class="list-group mt-2">
                                            {% for answerText in rightAnswers %}
                                                <li class="list-group-item">{{ answerText }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-primary m-0 p-2 fw-bold">
                    Das Quiz beginnt. Viel Erfolg!
                </div>
            {% endif %}
        </div>
        {% if shuffledQuestions[index] is defined %}
            {% set question = shuffledQuestions[index] %}
            <div class="question p-4 border rounded shadow quiz__overlay--z-index">
                <p class="text-center mb-2">{{ index + 1 }} von {{ shuffledQuestions|length }} | <span class="{% if rightIndex > 0 %}text-success{% else %}text-danger{% endif %}"><i class="fa-regular fa-circle-check "></i> {{ rightIndex }}</span></p>
                <div class="col-12 fs-2 lead question__text">
                    {{ question.question.text }}
                </div>
                <form action="{{ path('quiz') }}" method="post" id="quiz-form">
                    <div class="col-12 mt-4 mb-4">
                        <div class="row">
                            <div class="col-12 col-lg-6 p-0 d-flex">
                                <input class="answer__radio visually-hidden" type="checkbox" id="answer{{ question.answers[0].index }}" name="answer{{ question.answers[0].index }}" value="{{ question.answers[0].answerObject.id }}"/>
                                <label class="answer__label fs-5 question__answer-1 bg-gradient" for="answer{{ question.answers[0].index }}">
                                    <span class="question__letter bg-dark text-light border">A</span> {{ question.answers[0].answerObject.text }}
                                </label>
                            </div>
                            <div class="col-12 col-lg-6 p-0 d-flex">  
                                <input class="answer__radio visually-hidden" type="checkbox" id="answer{{ question.answers[1].index }}" name="answer{{ question.answers[1].index }}" value="{{ question.answers[1].answerObject.id }}"/>
                                <label class="answer__label fs-5 question__answer-2 bg-gradient" for="answer{{ question.answers[1].index }}">
                                    <span class="question__letter bg-dark text-light border">B</span> {{ question.answers[1].answerObject.text }}
                                </label>
                            </div>
                            <div class="col-12 col-lg-6 p-0 d-flex">
                                <input class="answer__radio visually-hidden" type="checkbox" id="answer{{ question.answers[2].index }}" name="answer{{ question.answers[2].index }}" value="{{ question.answers[2].answerObject.id }}"/>
                                <label class="answer__label fs-5 question__answer-3 bg-gradient" for="answer{{ question.answers[2].index }}">
                                    <span class="question__letter bg-dark text-light border">C</span> {{ question.answers[2].answerObject.text }}
                                </label>
                            </div>
                            <div class="col-12 col-lg-6 p-0 d-flex">
                                <input class="answer__radio visually-hidden" type="checkbox" id="answer{{ question.answers[3].index }}" name="answer{{ question.answers[3].index }}" value="{{ question.answers[3].answerObject.id }}"/>
                                <label class="answer__label fs-5 question__answer-4 bg-gradient" for="answer{{ question.answers[3].index }}">
                                    <span class="question__letter bg-dark text-light border">D</span> {{ question.answers[3].answerObject.text }}
                                </label>
                            </div>
                        </div>
                    </div>
                    {# <button type="submit">dada</button> #}
                    {% if shuffledQuestions[index + 1] is defined %}
                        <button type="submit" class="btn btn-success bg-gradient btn-lg quiz__button quiz__next-answer" disabled="disabled" id="submit-btn"><span id="loading"><i class="fa-regular fa-circle-right next-icon"></i></span> Nächste Frage</button>
                    {% else %}
                        <button type="submit" class="btn btn-success bg-gradient btn-lg quiz__button quiz__final-answer" disabled="disabled" id="submit-btn"><span id="loading"><i class="fa-solid fa-flag-checkered next-icon"></i></span> Quiz abschließen</button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% include ('footer.html.twig') %}