{% include ('base.html.twig') %}
<div class="container text-center container--fade-in">
    <div class="box box--70 border rounded shadow p-3 mx-auto position-relative">
        <h1>Statistik</h1>
        <p class="text-primary position-absolute top-0 end-0 mt-2 me-3 fs-5"><i class="fa-solid fa-arrows-rotate fa-spin"></i> Live</p>
        <div id="container-stats">
            <ul class="list-group rounded mb-2">
                <li class="list-group-item">
                    Fragenanzahl: <strong>{{ quiz.getQuestions|length }}</strong>
                </li>
            
                <li class="list-group-item">
                    Spieleranzahl: <strong>{{ leaderBoardEntries|length }}</strong>
                </li>
                <li class="list-group-item">
                    Punkteschnitt: <strong>{{ averageScore }}</strong>
                    
                </li>
                <li class="list-group-item bg-gradient
                    {% if averageScorePercentage >= 70 %}
                        bg-success-subtle text-success-emphasis
                    {% elseif averageScorePercentage >= 40 %}
                        bg-warning-subtle text-warning-emphasis
                    {% else %}
                        bg-danger-subtle text-danger-emphasis
                    {% endif %}
                ">
                    Kursnote: <strong>{{ averageScorePercentage }}%</strong>
                </li>
            </ul>
            <h2>Rangliste</h2>
            <table class="table table-striped table-dark leaderboard mb-0" data-quiz="{{ quiz.id }}">
                <thead>
                    <tr>
                    <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                    <th scope="col" class="text-start">Spielername</th>
                    <th scope="col" ><i class="fa-regular fa-circle-check"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% set place = 1 %}
                    {% for entry in leaderBoardEntries %}
                        {% if loop.index == 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        {% if entryScoreTmp != entry.score %}
                            {% set place = place + 1 %}
                            {% set entryScoreTmp = entry.score %}
                        {% endif %}
                        <tr>
                            <td {% if entry.matrikelnumber == app.session.get('matrikelnummer') %}class="text-info fs-5"{% endif %}>{{ place }}</td>
                            {% if app.session.get('matrikelnummer') is defined%}
                                <td class="text-start">
                                    <div {% if entry.matrikelnumber == app.session.get('matrikelnummer') %}class="d-inline-block fs-5"{% endif %}>
                                        {% if place == 1 %}
                                            <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        {% if place == 2 %}
                                            <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        {% if place == 3 %}
                                            <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                                        {% endif %}
                                        <span {% if entry.matrikelnumber == app.session.get('matrikelnummer') %}class="text-info"{% endif %}>
                                        {{ entry.matrikelnumber }}
                                        {% if entry.matrikelnumber == app.session.get('matrikelnummer') %}
                                            <i class="fa-regular fa-circle-user"></i>
                                        {% endif %}
                                        </span>
                                    </div>
                                </td>
                            {% else %}
                                <td class="text-start">
                                    {% if place == 1 %}
                                        <span style="color: #ffd700"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 2 %}
                                        <span style="color: #c0c0c0"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {% if place == 3 %}
                                        <span style="color: #bf8970"><i class="fa-solid fa-crown"></i></span>
                                    {% endif %}
                                    {{ entry.matrikelnumber }}
                                </td>
                            {% endif %}
                            <td {% if entry.matrikelnumber == app.session.get('matrikelnummer') %}class="text-info fs-5"{% endif %}>{{ entry.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="accordion mt-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="d-block w-100 text-center"><h2 class="m-0 ps-3">Quiz auswerten</h2></span>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse border-top" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <button data-href="{{ path('answer-stats', { 'id': quiz.id }) }}" class="btn btn-primary bg-gradient mb-2" id="show-answers-button"><i class="fa-regular fa-eye"></i> Ergebnisse einblenden</button>
                        <div id="answer-stats-container">
                            {% for question in quiz.getQuestions %}
                                {% set index = loop.index0 %}
                                <h3>Frage {{ index + 1 }}</h3>
                                <h4 class="mb-3">{{ question.text }}</h4>
                                <ul class="list-group mb-3">
                                    <li class="list-group-item question-stats-li fs-5 pt-2 pb-2">
                                        <span class="question__letter question__letter--statistics bg-dark text-light border">A</span>
                                        {{ question.getAnswers.0.text}}
                                    </li>
                                    <li class="list-group-item question-stats-li fs-5 pt-2 pb-2">
                                        <span class="question__letter question__letter--statistics bg-dark text-light border">B</span>
                                         {{ question.getAnswers.1.text}}
                                    </li>
                                    <li class="list-group-item question-stats-li fs-5 pt-2 pb-2">
                                        <span class="question__letter question__letter--statistics bg-dark text-light border">C</span>
                                        {{ question.getAnswers.2.text}}
                                    </li>
                                    <li class="list-group-item question-stats-li fs-5 pt-2 pb-2">
                                        <span class="question__letter question__letter--statistics bg-dark text-light border">D</span>
                                        {{ question.getAnswers.3.text}}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/dashboard" type="button" class="btn btn-dark bg-gradient mt-3">Zurück zum Dashboard</a>
    </div>
</div>
{% include ('footer.html.twig') %}